@import "variables.less";
@import "mixins.less";


@font-face {
  font-family: 'AvenirHeavy';
  src: url(../fonts/Avenir-Heavy.eot);
  src: url(../fonts/Avenir-Heavy.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Heavy.woff) format("woff"), url(../fonts/Avenir-Heavy.ttf) format("truetype");
}
@font-face {
  font-family: 'AvenirHeavyOblique';

  src: url(../fonts/Avenir-HeavyOblique.eot);
  src: url(../fonts/Avenir-HeavyOblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-HeavyOblique.woff) format("woff"), url(../fonts/Avenir-HeavyOblique.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'AvenirBlack';

  src: url(../fonts/Avenir-Black.eot);
  src: url(../fonts/Avenir-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Black.woff) format("woff"), url(../fonts/Avenir-Black.ttf) format("truetype");
}
@font-face {
  font-family: 'AvenirBlackOblique';

  src: url(../fonts/Avenir-BlackOblique.eot);
  src: url(../fonts/Avenir-BlackOblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-BlackOblique.woff) format("woff"), url(../fonts/Avenir-BlackOblique.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'AvenirMedium';

  src: url(../fonts/Avenir-Medium.eot);
  src: url(../fonts/Avenir-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Medium.ttf) format("truetype");
}
@font-face {
  font-family: 'AvenirMediumOblique';

  src: url(../fonts/Avenir-MediumOblique.eot);
  src: url(../fonts/Avenir-MediumOblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-MediumOblique.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'AvenirBook';

  src: url(../fonts/Avenir-Book.eot);
  src: url(../fonts/Avenir-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Book.woff) format("woff"), url(../fonts/Avenir-Book.ttf) format("truetype");
}
@font-face {
  font-family: 'AvenirBookOblique';

  src: url(../fonts/Avenir-BookOblique.eot);
  src: url(../fonts/Avenir-BookOblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-BookOblique.woff) format("woff"), url(../fonts/Avenir-BookOblique.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'AvenirLight';

  src: url(../fonts/Avenir-Light.eot);
  src: url(../fonts/Avenir-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Light.woff) format("woff"), url(../fonts/Avenir-Light.ttf) format("truetype");

}
@font-face {
  font-family: 'AvenirLightOblique';

  src: url(../fonts/Avenir-LightOblique.eot);
  src: url(../fonts/Avenir-LightOblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-LightOblique.woff) format("woff"), url(../fonts/Avenir-LightOblique.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'AvenirOblique';

  src: url(../fonts/Avenir-Oblique.eot);
  src: url(../fonts/Avenir-Oblique.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Oblique.woff) format("woff"), url(../fonts/Avenir-Oblique.ttf) format("truetype");

  font-style: italic;
}
@font-face {
  font-family: 'AvenirRoman';

  src: url(../fonts/Avenir-Roman.eot);
  src: url(../fonts/Avenir-Roman.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Roman.woff) format("woff"), url(../fonts/Avenir-Roman.ttf) format("truetype");
}

body {
  margin: 0;
}

.navbar-inverse {
  background: transparent;
  border: none;

  &.navbar-shrink {
    background-color: lightgrey;
    opacity: 0.9;
  }

  .navbar-nav {
    float: right;

    li {
      font-family: AvenirLight, Arial, Helvetica, sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      padding: 15px 50px;

      a {
        color: @primary-blue;
        padding: 0;

        &:hover {
          color: @secondary-blue;
        }
      }
    }

    .active {
      a {
        background: none;
        color: @primary-blue;
        border-bottom: 1px solid @secondary-blue;

        &:hover {
          background: none;
          color: @primary-blue;
        }
      }
    }
  }
}

.header-image {
  background: url('../images/header-new.png') no-repeat left center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .headline {
    .site-info {
      float: right;
      width: 50%;
    }

    .logo {
      img {
        width: 150px;
        height: 150px;
      }
    }

    .header-title {
      .title {
        font-size: 51px;
        color: #1b6485;
        font-family: AvenirBlack, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
      }

      .subtitle {
        font-size: 18px;
        color: #1d8fc5;
        font-family: AvenirBook, Arial, Helvetica, sans-serif;
      }
    }
  }
}

.featurette {
  position: relative;
  z-index: -10;
}

#video {
  margin-bottom: 30px;
  padding: 3.66% 15px 0 15px;

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#contact-form-wrapper {
  padding: 3.66% 15px 40px 15px;
  width: 50%;

  #contact-form-title {
    padding: 0 6.66%;

    .title-block(@primary-orange, @secondary-orange);
  }

  form {
    padding: 1.66% 6.66% 0;

    .form-group {
      margin: 0 0 5px 0;

      .form-label {
        width: 100%;

        label {
          font-weight: normal;
          font-size: 15px;
          font-family: AvenirBook, Arial, Helvetica, sans-serif;
        }
      }

      .alert {
        border-radius: 0;
        margin-bottom: 5px;
        font-size: 13px;
        padding: 8px;
        width: 100%;
      }

      .form-input {
        width: 100%;

        input {
          border: 1px solid @secondary-blue;
          border-radius: 0;
        }
      }

      .form-checkbox {
        .form-input { display: inline; }

        .form-label {
          display: inline;
          padding-left: 10px;
        }
      }

      .form-button {
        width: 100%;
        display: inline-block;

        button {
          border-radius: 0;
          border: none;
          background: none;
          padding: 0;

          .event-question();
        }

        .description {
          font-size: 11px;
          padding-top: 5px;
        }
      }
    }

    .alert {
      display: block;
      padding: 8px;
      margin: 0;
    }
  }
}

footer {
  .footer-inner {
    padding: 0 20px;
    display: block;
  }
}

.page-content {
  .left {
    display: inline-block;
    width: 50%;
    float: left;
    z-index: 10;
    position: relative;
  }

  .right {
    display: inline-block;
    width: 50%;
    z-index: 10;
    position: relative;
  }

  .description {
    font-size: 12px;
    font-family: AvenirBook, Arial, Helvetica, sans-serif;
  }

  #aim {

    .row-content {
      background: url('../images/row1v2.png') no-repeat center bottom scroll;
      background-size: auto 100%;
      height: 290px;
    }

    .left {
      padding-top: 50px;

      .content {
        margin-left: 17%;

        .title-block();

        .description {
          color: #878787;
          width: 200px;
        }
      }
    }

    .right {
      padding-top: 50px;
      text-align: center;

      .content {
        margin-left: 17%;
      }

      .event-question();
    }
  }

  #how {
    background-color: @primary-red;
    background-size: cover;

    .row-content {
      background: url('../images/row2v2.png') no-repeat center top scroll;
      background-size: auto 100%;
      height: 270px;
    }

    .left {
      padding-top: 100px;

      .content {
        margin-left: 17%;

        .title-block {
          margin-left: 20%;
        }

        .event-question(@primary-orange);

        .event-question {
          position: relative;

          &::after {
            content: "";
            background-color: @secondary-orange;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            top: 5px;
            left: 5px;
          }
        }
      }
    }

    .right {
      padding-top: 50px;

      .content {
        margin-left: 17%;

        .title-block(@primary-orange, @secondary-orange);

        .title-block {
          margin-bottom: 20px;
        }

        .description {
          color: #fff;
        }
      }
    }
  }

  .now-talking {

    .row-content {
      background: url('../images/row3v2.png') no-repeat center bottom scroll;
      background-size: auto 100%;
      height: 270px;
    }

    .left {
      padding-top: 20px;

      .content {
        margin-left: 17%;

        .title-block(@secondary-blue, @primary-blue);

        .title-block {
          margin-bottom: 10px;
        }

        .description {
          color: #878787;
          width: 350px;
        }
      }
    }
  }

  .tools {
    background-color: @primary-blue;

    .row-content {
      background: url('../images/row4v2.png') no-repeat center center scroll;
      background-size: auto 100%;
      height: 266px;
    }

    .left {
      padding-top: 20px;

      .content {
        margin-left: 17%;
      }

      .description {
        color: #ffffff;
        width: 230px;
      }
    }
  }

  #tool {
    .row-content {
      background: url('../images/row5v2.png') no-repeat center top scroll;
      background-size: auto 100%;
      padding: 0 0 10px 0;
      height: 300px;
    }

    .left {
      padding-top: 20px;

      .content {
        margin-left: 17%;
      }
      .title-block(@primary-blue, @secondary-blue);
    }

    .right {
      padding-top: 20px;

      .content {
        margin-right: 17%;
        margin-left: 17%;
      }
      .description {
        display: inline-block;
        color: #878787;
        text-align: right;
      }
    }
  }

  #why {
    .row-content {
      height: 265px;
    }

    .left {
      padding: 40px 0;
      background-color: @primary-orange;
      z-index: -10;
      position: relative;
      height: inherit;

      .content {
        margin-left: 17%;
        margin-right: 17%;

        .title-block(@primary-red, @secondary-red);

        .description {
          padding-left: 10px;
          display: inline-block;
          color: #fff;
        }
      }
    }

    .right {
      padding: 40px 0;
      background-color: @primary-red;
      z-index: -10;
      position: relative;
      height: inherit;

      .content {
        margin-left: 17%;
        margin-right: 17%;

        .title-block(@primary-orange, @secondary-orange);

        .description {
          padding-left: 10px;
          display: inline-block;
          color: #fff;
        }
      }
    }
  }

  .teambuilding-tool {
    .row-content {
      background: url('../images/row6v2.png') no-repeat center center scroll;
      background-size: auto 100%;
      height: 285px;
    }

    .left {
      padding-top: 35px;

      .content {
        margin-left: 17%;
      }
      .title-block(@primary-blue, @secondary-blue);

      .description {
        display: inline-block;
        color: #878787;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 auto;
    width: 100%;

    .navbar-header {
      margin: 0;
    }

    .navbar-collapse {
      margin: 0;
    }
  }

  .navbar-inverse {
    .container {
      padding: 0 15px;
    }
  }

  .page-content {
    .container {
      padding: 0;
    }
  }
}

@media (max-width: 375px) {
  .header-image {
    background: url('../images/header-new.png') no-repeat left center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .headline {
      .site-info {
        float: right;
        width: 100%;
      }

      .logo {
        img {
          width: 100px;
          height: 100px;
        }
      }

      .header-title {
        .title {
          font-size: 35px;
          color: #1b6485;
          font-family: AvenirBlack, Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 2px 1px lightgrey;
        }

        .subtitle {
          font-size: 15px;
          color: #1d8fc5;
          font-family: AvenirBook, Arial, Helvetica, sans-serif;
          text-shadow: 1px 1px lightgrey;
        }
      }
    }
  }

  #video {
    width: 100%;
  }

  #contact-form-wrapper {
    padding: 6.6% 5px 20px 5px;
    width: 100%;

    #contact-form-title {
      padding: 0 6.66%;

      .title-block(@primary-orange, @secondary-orange);
    }

    form {
      padding: 1.66% 6.66% 0;

      .form-group {
        margin: 0 0 5px 0;

        .form-label {
          width: 100%;

          label {
            font-weight: normal;
            font-size: 15px;
            font-family: AvenirBook, Arial, Helvetica, sans-serif;
          }
        }

        .alert {
          border-radius: 0;
          margin-bottom: 5px;
          font-size: 13px;
          padding: 8px;
          width: 100%;
        }

        .form-input {
          width: 100%;

          input {
            border: 1px solid @secondary-blue;
            border-radius: 0;
          }
        }

        .form-checkbox {
          .form-input { display: inline; }

          .form-label {
            display: inline;
            padding-left: 10px;
          }
        }

        .form-button {
          width: 100%;
          display: inline-block;

          button {
            border-radius: 0;
            border: none;
            background: none;
            padding: 0;

            .event-question();
          }

          .description {
            font-size: 11px;
            padding-top: 5px;
          }
        }
      }

      .alert {
        display: block;
        padding: 8px;
        margin: 0;
      }
    }
  }

  .page-content {
    padding-bottom: 20px;

    .left {
      display: inline-block;
      width: 100%;
    }

    .right {
      display: inline-block;
      width: 100%;
    }

    .description {
      font-size: 15px;
    }

    #aim {

      .row-content {
        background: url('../images/row1mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 400px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin: 0 7%;

          .title-block(@primary-blue, @secondary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 100%;
          }
        }
      }

      .right {
        padding-top: 140px;
        text-align: left;

        .content {
          margin-left: 5%;
          padding: 0;
        }

        .event-question(@secondary-blue, 10px 15px);
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        height: auto;
      }

      .left {
        padding-top: 60px;

        .content {
          margin-left: 5%;

          .title-block {
            margin-left: 0;
          }

          .event-question(@primary-orange, 10px 15px);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;
        padding-bottom: 20px;

        .content {
          margin-left: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;

            ul {
              padding-left: 20px;
            }
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 450px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@secondary-blue, @primary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 100%;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4mobile.png') no-repeat center center scroll;
        background-size: 100% 100%;
        height: 195px;
      }

      .left {
        padding-top: 15px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }

        .description {
          color: #ffffff;
          width: 100%;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        padding: 0;
        height: 400px;
      }

      .left {
        padding-top: 15px;

        .content {
          margin-left: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);
      }

      .right {
        padding-top: 0;

        .content {
          margin-right: 0;
          margin-left: 7%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: left;
          width: 40%;
        }
      }
    }

    #why {
      .row-content {
        height: auto;
      }

      .left {
        padding: 30px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-red, @secondary-red, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 30px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 550px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);

        .title-block {
          margin-bottom: 15px;
        }

        .description {
          display: block;
          color: #878787;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 376px) and (max-width: 520px) {
  .header-image {
    background: url('../images/header-new.png') no-repeat left center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .headline {
      .site-info {
        float: right;
        width: auto;
      }

      .logo {
        img {
          width: 120px;
          height: 120px;
        }
      }

      .header-title {
        .title {
          font-size: 40px;
          color: #1b6485;
          font-family: AvenirBlack, Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 2px 1px lightgrey;
        }

        .subtitle {
          font-size: 15px;
          color: #1d8fc5;
          font-family: AvenirBook, Arial, Helvetica, sans-serif;
          text-shadow: 1px 1px lightgrey;
        }
      }
    }
  }

  #video {
    width: 100%;
  }

  #contact-form-wrapper {
    padding: 6.6% 5px 20px 5px;
    width: 100%;

    #contact-form-title {
      padding: 0 6.66%;

      .title-block(@primary-orange, @secondary-orange);
    }

    form {
      padding: 1.66% 6.66% 0;

      .form-group {
        margin: 0 0 5px 0;

        .form-label {
          width: 100%;

          label {
            font-weight: normal;
            font-size: 15px;
            font-family: AvenirBook, Arial, Helvetica, sans-serif;
          }
        }

        .alert {
          border-radius: 0;
          margin-bottom: 5px;
          font-size: 13px;
          padding: 8px;
          width: 100%;
        }

        .form-input {
          width: 100%;

          input {
            border: 1px solid @secondary-blue;
            border-radius: 0;
          }
        }

        .form-checkbox {
          .form-input { display: inline; }

          .form-label {
            display: inline;
            padding-left: 10px;
          }
        }

        .form-button {
          width: 100%;
          display: inline-block;

          button {
            border-radius: 0;
            border: none;
            background: none;
            padding: 0;

            .event-question();
          }

          .description {
            font-size: 11px;
            padding-top: 5px;
          }
        }
      }

      .alert {
        display: block;
        padding: 8px;
        margin: 0;
      }
    }
  }

  .page-content {
    padding-bottom: 20px;

    .left {
      display: inline-block;
      width: 100%;
    }

    .right {
      display: inline-block;
      width: 100%;
    }

    .description {
      font-size: 13px;
    }

    #aim {

      .row-content {
        background: url('../images/row1mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 400px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin: 0 7%;

          .title-block(@primary-blue, @secondary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 50%;
          }
        }
      }

      .right {
        padding-top: 150px;
        text-align: left;

        .content {
          margin-left: 5%;
          padding: 0;
        }

        .event-question(@secondary-blue, 10px 15px);
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        height: auto;
      }

      .left {
        padding-top: 75px;

        .content {
          margin-left: 5%;

          .title-block {
            margin-left: 0;
          }

          .event-question(@primary-orange, 10px 15px);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;
        padding-bottom: 20px;

        .content {
          margin-left: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;

            ul {
              padding-left: 20px;
            }
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 450px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@secondary-blue, @primary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 100%;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4mobile.png') no-repeat center center scroll;
        background-size: 100% 100%;
        height: 195px;
      }

      .left {
        padding-top: 15px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }

        .description {
          color: #ffffff;
          width: 100%;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        padding: 0;
        height: 480px;
      }

      .left {
        padding-top: 25px;

        .content {
          margin-left: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);
      }

      .right {
        padding-top: 0;

        .content {
          margin-right: 0;
          margin-left: 7%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: left;
          width: 35%;
        }
      }
    }

    #why {
      .row-content {
        height: auto;
      }

      .left {
        padding: 30px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-red, @secondary-red, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 30px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 590px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);

        .title-block {
          margin-bottom: 15px;
        }

        .description {
          display: block;
          color: #878787;
          width: 100%;
        }
      }
    }
  }
}


@media (min-width: 521px) and (max-width: 640px) {
  .header-image {
    background: url('../images/header-new.png') no-repeat left center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .headline {
      .site-info {
        float: right;
        width: 50%;
      }

      .logo {
        img {
          width: 120px;
          height: 120px;
        }
      }

      .header-title {
        .title {
          font-size: 40px;
          color: #1b6485;
          font-family: AvenirBlack, Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 2px 1px lightgrey;
        }

        .subtitle {
          font-size: 15px;
          color: #1d8fc5;
          font-family: AvenirBook, Arial, Helvetica, sans-serif;
          text-shadow: 1px 1px lightgrey;
        }
      }
    }
  }

  #video {
    width: 100%;
  }

  #contact-form-wrapper {
    padding: 6.6% 5px 20px 5px;
    width: 100%;

    #contact-form-title {
      padding: 0 6.66%;

      .title-block(@primary-orange, @secondary-orange);
    }

    form {
      padding: 1.66% 6.66% 0;

      .form-group {
        margin: 0 0 5px 0;

        .form-label {
          width: 100%;

          label {
            font-weight: normal;
            font-size: 15px;
            font-family: AvenirBook, Arial, Helvetica, sans-serif;
          }
        }

        .alert {
          border-radius: 0;
          margin-bottom: 5px;
          font-size: 13px;
          padding: 8px;
          width: 100%;
        }

        .form-input {
          width: 100%;

          input {
            border: 1px solid @secondary-blue;
            border-radius: 0;
          }
        }

        .form-checkbox {
          .form-input { display: inline; }

          .form-label {
            display: inline;
            padding-left: 10px;
          }
        }

        .form-button {
          width: 100%;
          display: inline-block;

          button {
            border-radius: 0;
            border: none;
            background: none;
            padding: 0;

            .event-question();
          }

          .description {
            font-size: 11px;
            padding-top: 5px;
          }
        }
      }

      .alert {
        display: block;
        padding: 8px;
        margin: 0;
      }
    }
  }

  .page-content {
    padding-bottom: 20px;

    .left {
      display: inline-block;
      width: 100%;
    }

    .right {
      display: inline-block;
      width: 100%;
    }

    .description {
      font-size: 15px;
    }

    #aim {

      .row-content {
        background: url('../images/row1mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 400px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin: 0 7%;

          .title-block(@primary-blue, @secondary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 40%;
          }
        }
      }

      .right {
        padding-top: 90px;
        text-align: left;

        .content {
          margin-left: 7%;
          padding: 0;
        }

        .event-question(@secondary-blue, 10px 15px);
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        height: auto;
      }

      .left {
        padding-top: 105px;

        .content {
          margin-left: 7%;

          .title-block {
            margin-left: 0;
          }

          .event-question(@primary-orange, 10px 15px);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;
        padding-bottom: 20px;

        .content {
          margin-left: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;

            ul {
              padding-left: 20px;
            }
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 500px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@secondary-blue, @primary-blue, 20px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 100%;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4mobile.png') no-repeat center center scroll;
        background-size: 100% 100%;
        height: 220px;
      }

      .left {
        padding-top: 15px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }

        .description {
          color: #ffffff;
          width: 100%;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        padding: 0;
        height: 570px;
      }

      .left {
        padding-top: 40px;

        .content {
          margin-left: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);
      }

      .right {
        padding-top: 0;

        .content {
          margin-right: 0;
          margin-left: 7%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: left;
          width: 35%;
        }
      }
    }

    #why {
      .row-content {
        height: auto;
      }

      .left {
        padding: 30px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-red, @secondary-red, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 30px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-orange, @secondary-orange, 20px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 700px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 20px);

        .description {
          display: block;
          color: #878787;
          width: 100%;
        }
      }
    }
  }
}


@media (min-width: 641px) and (max-width: 767px) {
  .header-image {
    background: url('../images/header-new.png') no-repeat left center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .headline {
      .site-info {
        float: right;
        width: 50%;
      }

      .logo {
        img {
          width: 120px;
          height: 120px;
        }
      }

      .header-title {
        .title {
          font-size: 45px;
          color: #1b6485;
          font-family: AvenirBlack, Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          font-weight: bold;
        }

        .subtitle {
          font-size: 15px;
          color: #1d8fc5;
          font-family: AvenirBook, Arial, Helvetica, sans-serif;
        }
      }
    }
  }

  #video {
    width: 100%;
  }

  .page-content {
    width: 100%;

    .left {
      display: inline-block;
      width: 100%;
      float: left;
    }

    .right {
      display: inline-block;
      width: 100%;
    }

    .description {
      font-size: 15px;
      font-family: AvenirBook;
    }

    #aim {

      .row-content {
        background: url('../images/row1mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 450px;
      }

      .left {
        padding-top: 60px;

        .content {
          margin-left: 7%;

          .title-block(@primary-blue, @secondary-blue, 25px);

          .description {
            color: #878787;
            width: 215px;
          }
        }
      }

      .right {
        padding-top: 60px;
        text-align: left;

        .content {
          margin-left: 7%;
        }

        .event-question();
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        height: auto;
      }

      .left {
        padding-top: 120px;

        .content {
          margin-left: 10%;

          .title-block {
            margin-left: 0;
          }

          .event-question(@primary-orange);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;
        padding-bottom: 20px;

        .content {
          margin-left: 7%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;

            ul {
              padding-left: 20px;
            }
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 525px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@secondary-blue, @primary-blue, 25px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 100%;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4mobile.png') no-repeat center center scroll;
        background-size: 100% 100%;
        height: 333px;
      }

      .left {
        padding-top: 30px;

        .content {
          margin-left: 7%;
        }

        .description {
          color: #ffffff;
          width: 230px;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5mobile.png') no-repeat center top scroll;
        background-size: 100% auto;
        padding: 0;
        height: 650px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);
      }

      .right {
        padding-top: 20px;

        .content {
          margin-right: 0;
          margin-left: 7%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: left;
          width: 40%;
        }
      }
    }

    #why {
      .row-content {
        height: auto;
      }

      .left {
        padding: 30px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-red, @secondary-red, 25px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 30px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 7%;
          margin-right: 7%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .description {
            padding-left: 0;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6mobile.png') no-repeat center bottom scroll;
        background-size: 100% auto;
        height: 785px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 7%;
          margin-right: 7%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);

        .description {
          display: block;
          color: #878787;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 767px) {
  #video {
    width: 100%;
  }

  .page-content {
    #how {
      .left {
        padding-top: 140px;

        .content {
          margin-left: 10%;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .video-wrapper {
    #video {
      width: 100%;
    }
  }

  .page-content {
    width: 100%;

    .left {
      display: inline-block;
      width: 50%;
      float: left;
    }

    .right {
      display: inline-block;
      width: 50%;
    }

    .description {
      font-size: 12px;
      font-family: AvenirBook, Arial, Helvetica, sans-serif;
    }

    #aim {

      .row-content {
        background: url('../images/row1v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 290*92.5/100px;
      }

      .left {
        padding-top: 50px;

        .content {
          margin-left: 5%;

          .title-block(@primary-blue, @secondary-blue, 25px);

          .description {
            color: #878787;
            width: 200px;
          }
        }
      }

      .right {
        padding-top: 50px;
        text-align: right;

        .content {
          margin-right: 15%;
        }

        .event-question();
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        height: 270*92.5/100px;
      }

      .left {
        padding-top: 100px;

        .content {
          margin-left: 5%;

          .title-block {
            margin-left: 10%;
          }

          .event-question(@primary-orange);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;

        .content {
          margin-left: 23%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 270*92.5/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 5%;

          .title-block(@secondary-blue, @primary-blue, 25px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 300px;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4v2.png') no-repeat center center scroll;
        background-size: auto 100%;
        height: 266*92.5/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 5%;
        }

        .description {
          color: #ffffff;
          width: 230px;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        padding: 0 0 10px 0;
        height: 300*92.5/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 5%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);
      }

      .right {
        padding-top: 20px;

        .content {
          margin-right: 5%;
          margin-left: 5%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: right;
          width: 70%;
          float: right;
        }
      }
    }

    #why {
      .row-content {
        height: 265px;
      }

      .left {
        padding: 40px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 5%;
          margin-right: 5%;

          .title-block(@primary-red, @secondary-red, 25px);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 40px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 5%;
          margin-right: 5%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6v2.png') no-repeat center center scroll;
        background-size: auto 285*92.5/100px;
        height: auto;
      }

      .left {
        padding-top: 35px;

        .content {
          margin-left: 5%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);

        .description {
          display: inline-block;
          color: #878787;
        }
      }
    }
  }
}

@media (min-width: 885px) {
  #video {
    width: 50%;
  }

  .page-content {
    width: 100%;

    .left {
      display: inline-block;
      width: 50%;
      float: left;
    }

    .right {
      display: inline-block;
      width: 50%;
    }

    .description {
      font-size: 12px;
      font-family: AvenirBook, Arial, Helvetica, sans-serif;
    }

    #aim {

      .row-content {
        background: url('../images/row1v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 290px;
      }

      .left {
        padding-top: 50px;

        .content {
          margin-left: 10%;

          .title-block(@primary-blue, @secondary-blue, 25px);

          .description {
            color: #878787;
            width: 200px;
          }
        }
      }

      .right {
        padding-top: 50px;
        text-align: center;

        .content {
          margin-left: 23%;
          margin-right: 0;
        }

        .event-question();
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        height: 270px;
      }

      .left {
        padding-top: 100px;

        .content {
          margin-left: 15%;

          .title-block {
            margin-left: 10%;
          }

          .event-question(@primary-orange);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;

        .content {
          margin-left: 23%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 270px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 10%;

          .title-block(@secondary-blue, @primary-blue, 25px);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 300px;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4v2.png') no-repeat center center scroll;
        background-size: auto 100%;
        height: 266px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 10%;
        }

        .description {
          color: #ffffff;
          width: 230px;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        padding: 0 0 10px 0;
        height: 300px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 10%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);
      }

      .right {
        padding-top: 20px;

        .content {
          margin-right: 10%;
          margin-left: 10%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: right;
          width: 70%;
          float: right;
        }
      }
    }

    #why {
      .row-content {
        height: 265px;
      }

      .left {
        padding: 40px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 10%;
          margin-right: 10%;

          .title-block(@primary-red, @secondary-red, 25px);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 40px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 10%;
          margin-right: 10%;

          .title-block(@primary-orange, @secondary-orange, 25px);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6v2.png') no-repeat center center scroll;
        background-size: auto 285px;
        height: auto;
      }

      .left {
        padding-top: 35px;

        .content {
          margin-left: 10%;
        }
        .title-block(@primary-blue, @secondary-blue, 25px);

        .description {
          display: inline-block;
          color: #878787;
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .page-content {
    width: 100%;

    .left {
      display: inline-block;
      width: 50%;
      float: left;
    }

    .right {
      display: inline-block;
      width: 50%;
    }

    .description {
      font-size: 14px;
      font-family: AvenirBook, Arial, Helvetica, sans-serif;
    }

    #aim {

      .row-content {
        background: url('../images/row1v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 290px;
      }

      .left {
        padding-top: 40px;

        .content {
          .title-block();

          .description {
            color: #878787;
            width: 200px;
          }
        }
      }

      .right {
        padding-top: 40px;

        .content {
          margin-left: 23%;
        }

        .event-question();
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        height: 270px;
      }

      .left {
        padding-top: 100px;

        .content {
          margin-left: 5%;

          .title-block {
            margin-left: 20%;
          }

          .event-question(@primary-orange);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;

        .content {
          margin-left: 23%;

          .title-block(@primary-orange, @secondary-orange);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3v2.png') no-repeat center bottom scroll;
        background-size: auto 97%;
        height: 280px;
      }

      .left {
        padding-top: 20px;

        .content {
          .title-block(@secondary-blue, @primary-blue);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 350px;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4v2.png') no-repeat center center scroll;
        background-size: auto 100%;
        height: 266px;
      }

      .left {
        padding-top: 20px;

        .description {
          color: #ffffff;
          width: 230px;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        padding: 0 0 10px 0;
        height: 300px;
      }

      .left {
        padding-top: 20px;

        .title-block(@primary-blue, @secondary-blue);
      }

      .right {
        padding-top: 20px;

        .content {
          margin-right: 17%;
          margin-left: 17%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: right;
        }
      }
    }

    #why {
      .row-content {
        height: 265px;
      }

      .left {
        padding: 40px 0;
        background-color: @primary-orange;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 10%;
          margin-right: 10%;

          .title-block(@primary-red, @secondary-red);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 40px 0;
        background-color: @primary-red;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 10%;
          margin-right: 10%;

          .title-block(@primary-orange, @secondary-orange);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6v2.png') no-repeat center center scroll;
        background-size: auto 285px;
        height: auto;
      }

      .left {
        padding-top: 35px;

        .content {
          margin-left: 10%;
        }
        .title-block(@primary-blue, @secondary-blue);

        .description {
          display: inline-block;
          color: #878787;
        }
      }
    }
  }
}


@media (min-width: 1200px) {
  .page-content {
    width: 100%;

    .left {
      display: inline-block;
      width: 50%;
      float: left;
    }

    .right {
      display: inline-block;
      width: 50%;
    }

    .description {
      font-size: 15px;
      font-family: AvenirBook, Arial, Helvetica, sans-serif;
    }

    #aim {

      .row-content {
        background: url('../images/row1v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 290*120/100px;
      }

      .left {
        padding-top: 50px;

        .content {
          margin-left: 17%;

          .title-block();

          .description {
            color: #878787;
            width: 200px;
          }
        }
      }

      .right {
        padding-top: 50px;

        .content {
          margin-left: 23%;
        }

        .event-question();
      }
    }

    #how {
      background-color: @primary-red;
      background-size: cover;

      .row-content {
        background: url('../images/row2v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        height: 270*120/100px;
      }

      .left {
        padding-top: 130px;

        .content {
          margin-left: 9%;

          .title-block {
            margin-left: 20%;
          }

          .event-question(@primary-orange);

          .event-question {
            position: relative;

            &::after {
              content: "";
              background-color: @secondary-orange;
              width: 100%;
              height: 100%;
              z-index: -1;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }

      .right {
        padding-top: 50px;

        .content {
          margin-left: 23%;

          .title-block(@primary-orange, @secondary-orange);

          .title-block {
            margin-bottom: 20px;
          }

          .description {
            color: #fff;
          }
        }
      }
    }

    .now-talking {

      .row-content {
        background: url('../images/row3v2.png') no-repeat center bottom scroll;
        background-size: auto 100%;
        height: 270*120/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left:17%;

          .title-block(@secondary-blue, @primary-blue);

          .title-block {
            margin-bottom: 10px;
          }

          .description {
            color: #878787;
            width: 350px;
          }
        }
      }
    }

    .tools {
      background-color: @primary-blue;

      .row-content {
        background: url('../images/row4v2.png') no-repeat center center scroll;
        background-size: auto 100%;
        height: 266*120/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 17%;
        }

        .description {
          color: #ffffff;
          width: 230px;
        }
      }
    }

    #tool {
      .row-content {
        background: url('../images/row5v2.png') no-repeat center top scroll;
        background-size: auto 100%;
        padding: 0 0 10px 0;
        height: 300*120/100px;
      }

      .left {
        padding-top: 20px;

        .content {
          margin-left: 17%;
        }
        .title-block(@primary-blue, @secondary-blue);
      }

      .right {
        padding-top: 20px;

        .content {
          margin-right: 17%;
          margin-left: 17%;
        }
        .description {
          display: inline-block;
          color: #878787;
          text-align: right;
        }
      }
    }

    #why {
      margin: 0 auto;
      .row-content {
        height: 265px;

        &.container {
          width: 100%;
        }
      }

      .left {
        padding: 40px 0;
        background-color: @primary-orange;
        background-size: cover;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 0;
          margin-right: 0;
          width: 585px;
          float: right;

          .content-inner {
            margin-right: 17%;
            margin-left: 17%;
          }

          .title-block(@primary-red, @secondary-red);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }

      .right {
        padding: 40px 0;
        background-color: @primary-red;
        background-size: cover;
        z-index: -10;
        position: relative;
        height: inherit;

        .content {
          margin-left: 0;
          margin-right: 0;
          width: 585px;

          .content-inner {
            margin-right: 17%;
            margin-left: 17%;
          }

          .title-block(@primary-orange, @secondary-orange);

          .description {
            padding-left: 10px;
            display: inline-block;
            color: #fff;
          }
        }
      }
    }

    .teambuilding-tool {
      .row-content {
        background: url('../images/row6v2.png') no-repeat center center scroll;
        background-size: auto 100%;
        height: 285*120/100px;
      }

      .left {
        padding-top: 35px;

        .content {
          margin-left: 17%;
        }
        .title-block(@primary-blue, @secondary-blue);

        .description {
          display: inline-block;
          color: #878787;
        }
      }
    }
  }
}