

// Background Features

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.event-question(@bgcolor: @secondary-blue, @padding: 15px 25px) {
    .event-question {
        display: inline-block;
        padding: @padding;
        background-color: @bgcolor;
        color: #fff;
        font-size: 15px;
        font-family: AvenirMedium, Arial, Helvetica, sans-serif;

        span {
            font-family: AvenirBlack, Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
}

.title-block(@bgcolor: @primary-blue, @bgshadow: @secondary-blue, @fontsize: 28px) {

    .title-block {
        display: inline-block;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: @fontsize;
        font-family: AvenirBlack, Arial, Helvetica, sans-serif;
        font-weight: bold;

        .title {
            display: inline-block;
            background-color: @bgcolor;
            padding: 0 10px;
            float: left;
            clear: both;
            position: relative;

            &::after {
                content: "";
                background-color: @bgshadow;
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
    }
}