// Variables

@primary-red: rgb(230,53,43);
@primary-blue: rgb(30,143,200);
@primary-orange: rgb(242,145,0);
@secondary-red: rgb(134,35,18);
@secondary-blue: rgb(25,97,133);
@secondary-orange: rgb(180,80,23);