
doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.00001, user-scalable=no, minimum-scale=1.00001")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= "Sparker - Now you're talking!"
		link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.

		link(href="css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="css/one-page-wonder.css", rel="stylesheet", type="text/css")


		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		script(src="js/googleAnalytics.js", type="text/javascript")

		//- Include template-specific stylesheets by extending the css block
		link(href="css/default.css", rel="stylesheet", type="text/css")


	//- HTML BODY
	body(id="front")

		// Navigation
		nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
			.container
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")

					//-a(class="navbar-brand", href="#") Start Bootstrap

				// Collect the nav links, forms, and other content for toggling
				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul.nav.navbar-nav
						li: a(href="#home") Home
						//-li: a(href="#aim") Aim
						//-li: a(href="#how") How
						//-li: a(href="#tool") Tool
						//-li: a(href="#why") Why
						li: a(href="#video") Video
						li: a(href="#contact") Contact

		//- HEADER
		header(class="header-image", id="home")
			.headline
				.container
					.site-info
						.logo
							img(src="images/logo-fullcolor-1024.png")

						.header-title
							.title Sparker
							.subtitle Now you're talking


		//- Page Content
		.page-content

			//- row 1
			div(id="aim", class="")
				.row-content.container
					.left
						.content
							.title-block
								.title Time for
								.title talk ...

							.description Remember the days we met around the watercooler to have a chat with our colleagues? The times when ideas were generated during an elevator ride?

					.right
						.content
							.event-question!= "That was <span>then?</span>"

			//- row 2
			div(id="how", class="")
				.row-content.container
					.left
						.content
							.title-block
								.event-question!= "So what is <span>now?</span>"

					.right
						.content
							.title-block
								.title Sparker,
								.title the new way
								.title to communicate

							.description
								ul
									li on- and offline
									li business and personal
									li individually and in a team

			//- row 3
			div(class="now-talking")
				.row-content.container
					.left
						.content
							.title-block
								.title Now you're
								.title talking!

							.description
								p Good conversations benefit your company. They connect people - creating team cohesion - stimulate social learning and spark ideas.

								p But they're no longer that easy to have when many of your employees are no longer tied to one place. And when they're attached - in all senses of the word - to screens big or small.


			//- row 4
			div(class="tools")
				.row-content.container
					.left
						.content
							.description Sparker stimulates staff to engage in conversations that matter, whether they want to talk shop or shopping.


			//- row 5
			div(id="tool", class="")
				.row-content.container
					.left
						.content
							.title-block
								.title The best
								.title of both worlds!

					.right
						.content
							.description Online or offline? With Sparker you can have it both ways. It keeps everyone connected, so conversations and ideas can be exchanged and developed, both on- and offline.


			//- row 6
			div(id="why", class="featurette")
				.row-content
					.left
						.content
							.content-inner
								.title-block
									.title It's all in the game

								.description The use of the game elements drives participantion and motivation. From teaming up with colleagues, over introducing topics of conversation or adopting them, to exchanging ideas and setting up campaigns: every activity is awarded a score.

					.right
						.content
							.content-inner
								.title-block
									.title Adopt &amp; adapt

								.description
									p!= "Sparker is your 24/7 teambuilding tool.<br /> The modular system allows you to customize and shape it so it perfectly fits your organisation. And with the monitoring options you can keep track of the social learning that is taking place."

			//- row 7
			div(class="teambuilding-tool")
				.row-content.container
					.left
						.content
							.title-block
								.title Sparker,
								.title your 24/7&nbsp;&nbsp;
								.title teambuilding tool

							.description
								p Using the best of technology and gamification techniques, Sparker helps you company:

								ul
									li stimulate communication, both about personal and business topics
									li generate and exchange ideas
									li monitoring social learning

			//- row 8
			#video.container
				.row-content.content
					.embed-container
						iframe(src="https://player.vimeo.com/video/178142299?portrait=0", width='100%', height='440px', frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)


			#contact-form-wrapper.container
				.row-content.content#contact
					#contact-form-title
						.title-block
							.title Contact us

					form(method='post', autocomplete='off', id="contact-form")
						input(type='hidden', name='action', value='contact-form')
						.form-groups
							.form-group
								.form-row
									.form-label: label Your name
									.form-input: input(type='text', name='yourname', placeholder='Your Name *').form-control
							.form-group
								.form-row
									.form-label: label Company
									.form-input: input(type='text', name='company', placeholder="Company name*").form-control
							.form-group
								.form-row
									.form-label: label Email
									.form-input: input(type='email', name='email', placeholder="Email Address *").form-control
							.form-group
								.form-row.form-checkbox
									.form-input: input(type="checkbox", checked, id='demonstration', name='demonstration')
									.form-label: label(for='demonstration') Contact me for a demonstration
							.form-group
								.form-row
									.form-button
										button(type='submit', data-loading-text="Saving...").btn.btn-primary
											.event-question Contact me


		//- FOOTER
		footer
			.footer-inner.container
				p Copyright &copy; MIYU bvba 2014-2017

		//- JAVASCRIPT
		//- jQuery 1.11.1 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.1 (also bundled) for better performance.

		script(src='js/jquery.js', type="text/javascript")
		script(src='js/bootstrap.min.js', type="text/javascript")

		script(src="js/classie.js", type="text/javascript")
		script(src="js/cbpAnimatedHeader.js", type="text/javascript")

		script(src="js/default.js", type="text/javascript")

		script(src="js/front.js")
